/* GLOBAL VARIABLES GO HERE */

$body-bg-color: white;
$body-font-color: black;


/*This is where you can define your personal variables!*/


/*PRODUCT LIST VARIABLES */
$prodList-bg-color: lightgrey;
$prodList-img-thumbnail-height: 150px;
$prodList-img-thumbnail-width: 150px;
